:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.ReportScreen {
  display: flex;
  width: 1512px;
  align-items: flex-start;
  gap: 10px;

  background: #FFF;
  border: 1px solid black;
}

.ReportImage {
  height: 4302px;
  flex: 1 0 0;

  background: green;
}

.SlideOutMenu {
  display: flex;
  width: 440px;
  padding-left: var(--spacing-5xl, 40px);
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;

  background: red;
}

.Panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-3xl, 24px);
  flex: 1 0 0;
  align-self: stretch;

  border-left: 1px solid var(--Colors-Border-border-secondary, #EAECF0);
  background: var(--Colors-Background-bg-primary, #FFF);

  /* Shadows/shadow-xl */
  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
}

.SlideOutMenuHeader {
  display: flex;
  padding: 0px var(--spacing-3xl, 24px);
  align-items: flex-start;
  gap: var(--spacing-md, 8px);
  align-self: stretch;
}

.Content {
  display: flex;
  padding-top: var(--spacing-3xl, 24px);
  align-items: flex-start;
  gap: var(--spacing-xl, 16px);
  flex: 1 0 0;
}

.Logomark {
  display: flex;
  align-items: flex-start;

  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
}

.LogomarkVector {
  width: 32px;
  height: 32px;

  background: url("./assets/Logomark.png") lightgray 50% / cover no-repeat;
}

.TextAndSupportingText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-xs, 4px);
  flex: 1 0 0;
}

.Text {
  align-self: stretch;

  color: var(--colors-text-text-primary-900, #101828);

  /* Text xl/Semibold */
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.875rem;
  /* 150% */
}

.SupportingText {
  align-self: stretch;

  color: var(--colors-text-text-tertiary-600, #475467);

  /* Text sm/Regular */
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  /* 142.857% */
}

.ButtonClose {
  display: flex;
  width: 40px;
  height: 40px;
  padding: var(--spacing-md, 8px);
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 16px;
  top: 12px;

  border-radius: var(--radius-md, 8px);
}

.InputField {
  display: flex;
  padding: 0px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-sm, 6px);
  align-self: stretch;
}

.InputFieldWithLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-sm, 6px);
  align-self: stretch;
}

.Input {
  display: flex;
  padding: 10px 14px;
  align-items: center;
  gap: var(--spacing-md, 8px);
  align-self: stretch;

  border-radius: var(--radius-md, 8px);
  border: 1px solid var(--Colors-Border-border-primary, #D0D5DD);
  background: var(--Colors-Background-bg-primary, #FFF);

  /* Shadows/shadow-xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.InputContent {
  display: flex;
  align-items: center;
  gap: var(--spacing-md, 8px);
  flex: 1 0 0;
}

.PanelContent {
  display: flex;
  padding: var(--spacing-none, 0px) var(--spacing-3xl, 24px);
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-3xl, 24px);
  flex: 1 0 0;
  align-self: stretch;
  border: 1px solid black;
}

.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;

  border-top: 1px solid var(--Colors-Border-border-secondary, #EAECF0);
}

.FooterContent {
  display: flex;
    padding: var(--spacing-xl, 16px) var(--spacing-3xl, 24px);
    justify-content: flex-end;
    align-items: center;
    gap: var(--spacing-xl, 16px);
    align-self: stretch;

}