.url-result .slide-out-menu .result-panel .result-content {
  display: flex;
  padding: var(--spacing-none, 0px) var(--spacing-3xl, 24px);
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-3xl, 24px);
  flex: 1 0 0;
  align-self: stretch;
}

.url-result .slide-out-menu .result-panel .result-content .result-content-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-xl, 16px);
  align-self: stretch;
}

.url-result .slide-out-menu .result-panel .result-content .result-content-section .result-content-text-and-supporting-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-xs, 4px);
  align-self: stretch;
}

.url-result .slide-out-menu .result-panel .result-content .result-content-section .result-content-text-and-supporting-text .result-content-text {
  align-self: stretch;
  color: var(--colors-text-text-secondary-700, #344054);

  /* Text sm/Medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */

}

.url-result .slide-out-menu .result-panel .result-content .result-content-section .result-content-text-and-supporting-text .result-content-supporting-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-xs, 4px);
  align-self: stretch;

}

.url-result .slide-out-menu .result-panel .result-content .result-content-section .result-content-frame {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;

}

.url-result .slide-out-menu .result-panel .result-content .result-content-section .result-content-frame .result-content-avatar-wrap {
  display: flex;
  height: 124px;
  padding-bottom: var(--spacing-xs, 4px);
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xs, 4px);


}

/* Avatar */
.url-result .slide-out-menu .result-panel .result-content .result-content-section .result-content-frame .result-content-avatar-wrap .result-content-avatar {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: var(--radius-full, 9999px);
  background: var(--Component-colors-Components-Avatars-avatar-bg, #F2F4F7);
}

.url-result .contrast-border {
  width: 32px;
  height: 32px;
  flex-shrink: 0;

  border-radius: var(--radius-full, 9999px);
  border: 0.5px solid var(--Component-colors-Components-Avatars-avatar-contrast-border, rgba(0, 0, 0, 0.08));
}

.url-result .result-number {
  width: 32px;

  color: var(--colors-foreground-fg-quaternary-500, #667085);
  text-align: center;

  /* Text sm/Semibold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  /* 142.857% */
  position: absolute;
}

.url-result .slide-out-menu .result-panel .result-content .result-content-section .result-content-frame .result-content-avatar-wrap .result-content-connector {
  width: 2px;
  flex: 1 0 0;
  border-radius: var(--spacing-xxs, 2px);
  background: var(--Colors-Border-border-secondary, #EAECF0);

}

.url-result .slide-out-menu .result-panel .result-content .result-content-section .result-content-frame .result-content-card {
  display: flex;
  padding-bottom: var(--spacing-4xl, 32px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-lg, 12px);
  flex: 1 0 0;

}

.url-result .slide-out-menu .result-panel .result-content .result-content-section .result-content-frame .result-content-card .result-check-tile {
  display: flex;
  align-items: flex-start;
  align-self: stretch;

  border-radius: var(--radius-sm, 6px);
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #FFF;
}

.url-result .slide-out-menu .result-panel .result-content .result-content-section .result-content-frame .result-content-card .result-check-tile .result-check-color {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xxs, 2px);
  flex: 1 0 0;
  align-self: stretch;

  background: #58BFFF;
  padding-right: .5rem;
}

.result-contrast-level {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  width: 155px;
  height: 85px;
}

.result-contrast-level .result-contrast-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
}

.result-contrast-level .result-contrast-number .result-contrast-number-text {
  align-self: stretch;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.result-contrast-level .result-contrast-score .result-contrast-score-text {
  display: flex;
  padding-right: 4px;
  align-items: center;
  align-self: stretch;

  border-radius: 2px;
  background: #932424;

  margin-bottom: 2px;
}

.result-contrast-score-svg {
  width: 24px;
  height: 24px;
}

.result-contrast-score-status {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.result-check-bgfg {
  display: flex;
  padding: var(--spacing-lg, 12px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xxs, 2px);
  flex: 1 0 0;
  align-self: stretch;
}

.result-check-bgfg-line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xxs, 2px);
  flex: 1 0 0;
  align-self: stretch;
}

.result-check-bgfg-bgname {
  flex: 1 0 0;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.result-check-bgfg-code {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  opacity: 0.5;
}

.result-check-bgfg-fg {
  display: flex;
  align-items: center;
  gap: var(--spacing-md, 8px);
  flex: 1 0 0;
}